source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect
nuget AForge.Controls
nuget AForge.Video.DirectShow
nuget Microsoft.Kinect
nuget MSTest.TestAdapter
nuget MSTest.TestFramework
nuget Newtonsoft.Json
nuget NUnit
nuget NUnit3TestAdapter
nuget OpenTK
nuget OpenTK.GLControl
nuget System.Resources.Extensions